@{
    ViewData["Title"] = "Booking confirmation";
}

<h2>Booking confirmation</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
else
{
    <div class="alert alert-info">
        Booking complete
    </div>
}

<a asp-action="Index" asp-controller="Public" class="btn btn-primary">Return to Home Page</a>
