@model HotelReservationSystem.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReservationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservationID" />
            <input type="hidden" asp-for="RoomId" />
            <div class="form-group">
                <label asp-for="GuestName" class="control-label"></label>
                <input asp-for="GuestName" class="form-control" />
                <span asp-validation-for="GuestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuestSurname" class="control-label"></label>
                <input asp-for="GuestSurname" class="form-control" />
                <span asp-validation-for="GuestSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beds" class="control-label"></label>
                <input asp-for="Beds" class="form-control" />
                <span asp-validation-for="Beds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCost" class="control-label"></label>
                <input asp-for="TotalCost" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                <select asp-for="Status" class="form-control">
                    <option value="Occupied">Check In</option>
                    <option value="Available">Check Out</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ManageAllReservations" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}