@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wojciech Mierzwa 20858</h1>
    <p>Projekt (etap 3) - stworzenie bazodanowej aplikacji internetowej w zakresie CRUD.</p>
    <p>System rezerwacji hoteli</p>
    <p>Diagram ERD</p>
    <img src="~/Images/ERD.png" alt="Diagram ERD" class="img-fluid" />
</div>
